<section class="cart-container">
<h1>Shopping Cart</h1>
<p>Selected books are here.</p>
</section>


@if (store.cart().length > 0) {

  @for (book of store.cart(); track $index) {

    <div class="cart-item">

      <h3>{{ book.title }}</h3>

      <p>₱{{ book.price }}</p>

      <button
        (click)="store.removeFromCart($index)">
        Remove
      </button>

    </div>

  }

  <h2>
    Total: ₱{{ store.cartTotal() }}
  </h2>

  <button
    (click)="store.clearCart()">
    Clear Cart
  </button>
 
  

}

@else {
  <div class="cart-container">
  <p>Your cart is empty. Browse the catalog to add books.</p>
</div>
}

