.genre-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .genre-buttons button {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .genre-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .genre-container {
    max-width: 1500px;
    padding-left: 40px;
  }